.tile {
    width: 30%;
    display: inline-flex;
    margin: 5px;
    height: 150px;
    text-align: center;
}

.addButton {
    border-style: dashed;
    border-color: darkslategrey;
    border-width: 0.1px;
    text-align: center;
}