@using Dvt.Features.Core.Features.Notification.TemplateModels
@model Dvt.Features.Core.Features.Notification.TemplateModels.NewUserAddModel

<p style="font-size: 11px"></p>
<br /><br />
<p>Kind Regards,</p><br />
