@model Dvt.Features.Core.Features.Notification.TemplateModels.NewUserAddModel

@{
    string url = Model.HostUrl + Model.Token + "&isForgottenPassword=false";
}


<a href="@url">Set Your Password Here</a>
<br /><br />
<p>Kind Regards, DVT Team</p><br />
