<mat-toolbar>
  <span>{{data.title}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<form [formGroup]="userForm" (ngSubmit)="userMethodRouter()" class="normal-form">
  <mat-grid-list cols="2" rowHeight="310px">

    <mat-grid-tile>
      <div class="controles-container">

        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="Name*">
          <mat-error>This field is required.</mat-error>

        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last Name*">
          <mat-error>This field is required.</mat-error>

        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <mat-error>This field is required.</mat-error>

        </mat-form-field>
        <mat-form-field>
          <input formControlName="knownAs" matInput placeholder="Known As*">
          <mat-error>This field is required.</mat-error>

        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>

      <div class="controles-container">


        <mat-form-field>
          <input formControlName='contactNumber' matInput placeholder="Contact Number*">
          <mat-error>This field is required.</mat-error>

        </mat-form-field>
        <mat-form-field>
          <mat-select matInput formControlName="systemProfileId" placeholder="System Profile*">
            <mat-error>This field is required.</mat-error>
            <mat-option>None</mat-option>
            <ng-container *ngFor="let systemprofile of systemprofilelist">
              <mat-option value="{{systemprofile.id}}">{{systemprofile.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
     
        <div class="button-row">
          <button mat-raised-button color="primary" [disabled]="userForm.invalid"
            type="submit">{{data.buttonName}}</button>
          <button mat-raised-button color="warn" (click)="onReset()" type="reset">Reset</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>